<%- include('header.ejs') %>
<body>
    <header><h1>Welcome to The Book Shop</h1></header>
    <section>
        <h2>Books</h2>
        <div class="content-cart">
            <% for (const item of products) { %>
                <div class="item">
                    <h3> <%= item.name %></h3>
                    <p>Price: US$ <%= item.price %></p>
                    <p>Description: <%= item.description %></p>
                    <form action="/addToCart/book/<%=item.id%>"" method="post">
                        <input name="id" type="hidden" value="<%= item.id %>">
                        <input name="name" type="hidden" value="<%= item.name %>">
                        <input name="price" type="hidden" value="<%= item.price %>">
                        <input name="description" type="hidden" value="<%= item.description %>">
                        <button name="submit">Add to Cart</button>
                    </form>
                </div>
            <% } %>
        </div>
    </section>
    <%- include('footer.ejs') %>